/* Global Styling */
body {
     background-color:#979595;
     color:black;
     font-family:Arial, Helvetica, sans-serif;
     font-size:1rem;
     line-height:1.6em;
     margin:0;
     padding:0;
}

.container {
     width:70%;
     margin:auto;
     overflow:hidden;
}

img {
     max-width:100%;
}

/* Main styling */
#main {
     display:flex;
     flex-wrap:wrap;
     margin-top:20px;
     justify-content:space-between;
     row-gap:10px;
}

.cat-card {
     flex: 0 1 32%;
     border:2px black solid;
     background-color:#fff;
     align-self:auto;
}

.cat-breed-age {
     color: lightslategrey;
}

.cat-name, .cat-breed-age, .cat-description {
     margin:1%;
     padding:2%;
}